<h1>マイページ</h1>


<p>登録情報</p>

<%= link_to '編集する', customer_information_edit_path, class: 'btn btn-success' %>





<p>配送先</p>
<%= link_to '一覧を見る', customer_information_edit_path, class: 'btn btn-primary' %>


<p>注文履歴</p>
<%= link_to '一覧を見る', customer_information_edit_path, class: 'btn btn-primary' %>