<div class="container p-3">
    <div class="item-container">
        <h1 class="text-ceter">About</h1>

<p class="text-ceter">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
<p class="text-ceter">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
<p class="text-ceter">様々なバリエーションをご用意しております。</p>
<p class="text-ceter">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
<p class="text-ceter">ぜひご注文ください。</p>

    </div>
</div>